<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ file.getName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ assets }}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ assets }}assets/css/octicons.css" rel="stylesheet" type="text/css">
    <link href="{{ assets }}assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="{{ assets }}assets/css/custom.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for pathInfo in directory.getBreadcrumb %}
                            {% if pathInfo.active %}
                                <li class="active">&nbsp;/&nbsp;{{ pathInfo.name }}</li>
                            {% else %}
                                <li>&nbsp;/&nbsp;<a href="{{ pathInfo.link }}">{{ pathInfo.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>&nbsp;</td>
                <td colspan="9">
                    <div align="center"><strong>Code Coverage</strong></div>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="3">
                    <div align="center"><strong>Classes and Traits</strong></div>
                </td>
                <td colspan="3">
                    <div align="center"><strong>Functions and Methods</strong></div>
                </td>
                <td colspan="3">
                    <div align="center"><strong>Lines</strong></div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="danger">Total</td>
                <td class="danger big">
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="31.09" aria-valuemin="0"
                             aria-valuemax="100" style="width: %">
                            <span class="sr-only">NaN% covered (danger)</span>
                        </div>
                    </div>
                </td>
                <td class="danger small">
                    <div align="right">NaN%</div>
                </td>
                <td class="danger small">
                    <div align="right">NaN&nbsp;/&nbsp;NaN</div>
                </td>
                <td class="danger big">
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" style="width: 0%">
                            <span class="sr-only">NaN% covered (danger)</span>
                        </div>
                    </div>
                </td>
                <td class="danger small">
                    <div align="right">NaN%</div>
                </td>
                <td class="danger small">
                    <div align="right">NaN&nbsp;/&nbsp;NaN</div>
                </td>
                <td class="danger big">
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" style="width: 0%">
                            <span class="sr-only">NaN% covered (danger)</span>
                        </div>
                    </div>
                </td>
                <td class="danger small">
                    <div align="right">NaN%</div>
                </td>
                <td class="danger small">
                    <div align="right">NaN&nbsp;/&nbsp;NaN</div>
                </td>
            </tr>
            {% for directory in directoryCollection %}
                <tr>
                    {% if directory.getLineCount > 0 %}
                        {% set fmPerc = (directory.getLineCoverageCount / directory.getLineCount * 100)|number_format(2) %}
                    {% else %}
                        {% set fmPerc = 0 %}
                    {% endif %}

                    {% if fmPerc < 35 %}{% set cssClass="danger" %}
                    {% elseif fmPerc < 70 %}{% set cssClass="warning" %}
                    {% else %}{% set cssClass="success" %}
                    {% endif %}
                    <td class="{{ cssClass }}"><img src="{{ assets }}assets/icons/file-directory.svg" class="octicon"/><a
                                href="{{ directory.getLink }}">{{ directory.getName }}</a></td>
                    <td class="{{ cssClass }} big">
                        <div class="progress">
                            <div class="progress-bar bg-{{ cssClass }}" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 0%">
                                <span class="sr-only">NaN% covered ({{ cssClass }})</span>
                            </div>
                        </div>
                    </td>
                    <td class="{{ cssClass }} small">
                        <div align="right">NaN%</div>
                    </td>
                    <td class="{{ cssClass }} small">
                        <div align="right">{{ directory.getCountClass }}</div>
                    </td>
                    {% if directory.getMethodCount > 0 %}
                        {% set mcPerc = (directory.getMethodCoveredCount / directory.getMethodCount * 100)|number_format(2) %}
                    {% else %}
                        {% set mcPerc = 0 %}
                    {% endif %}

                    {% if mcPerc < 35 %}{% set cssmClass="danger" %}
                    {% elseif mcPerc < 70 %}{% set cssmClass="warning" %}
                    {% else %}{% set cssmClass="success" %}
                    {% endif %}
                    <td class="{{ cssmClass }} big">
                        <div class="progress">
                            <div class="progress-bar bg-{{ cssmClass }}" role="progressbar" aria-valuenow="{{ mcPerc }}" aria-valuemin="0"
                                 aria-valuemax="100" style="width: {{ mcPerc }}%">
                                <span class="sr-only">{{ mcPerc }}% covered ({{ cssmClass }})</span>
                            </div>
                        </div>
                    </td>
                    <td class="{{ cssmClass }} small">
                        <div align="right">{{ mcPerc }}%</div>
                    </td>
                    <td class="{{ cssmClass }} small">
                        <div align="right">{{ directory.getMethodCoveredCount }} / {{ directory.getMethodCount }}</div>
                    </td>
                    <td class="{{ cssClass }} big">
                        <div class="progress">
                            <div class="progress-bar bg-{{ cssClass }}" role="progressbar" aria-valuenow="{{ fmPerc }}" aria-valuemin="0"
                                 aria-valuemax="100" style="width: {{ fmPerc }}%">
                                <span class="sr-only">{{ fmPerc }}% covered ({{ cssClass }})</span>
                            </div>
                        </div>
                    </td>
                    <td class="{{ cssClass }} small">
                        <div align="right">{{ fmPerc }}%</div>
                    </td>
                    <td class="{{ cssClass }} small">
                        <div align="right">{{ directory.getLineCoverageCount }}/{{ directory.getLineCount }}</div>
                    </td>
                </tr>
            {% endfor %}
            {% for file in directory.getFileCollection %}
            <tr>
                {% if file.getLineCount > 0 %}
                    {% set fmPerc = (file.getLineCoverageCount / file.getLineCount * 100)|number_format(2) %}
                {% else %}
                    {% set fmPerc = 0 %}
                {% endif %}

                {% if fmPerc < 35 %}{% set cssClass="danger" %}
                {% elseif fmPerc < 70 %}{% set cssClass="warning" %}
                {% else %}{% set cssClass="success" %}
                {% endif %}
                <td class="{{ cssClass }}"><img src="{{ assets }}assets/icons/file-code.svg" class="octicon"/><a
                            href="{{ file.getLink }}">{{ file.getFileName }}</a></td>
                <td class="{{ cssClass }} big">
                    <div class="progress">
                        <div class="progress-bar bg-{{ cssClass }}" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" style="width: 0%">
                            <span class="sr-only">NaN% covered ({{ cssClass }})</span>
                        </div>
                    </div>
                </td>
                <td class="{{ cssClass }} small">
                    <div align="right">NaN%</div>
                </td>
                <td class="{{ cssClass }} small">
                    <div align="right">{{ file.getCountClass }}</div>
                </td>
                {% if file.getMethodCount > 0 %}
                    {% set mcPerc = (file.getMethodCoveredCount / file.getMethodCount * 100)|number_format(2) %}
                {% else %}
                    {% set mcPerc = 0 %}
                {% endif %}

                {% if mcPerc < 35 %}{% set cssmClass="danger" %}
                {% elseif mcPerc < 70 %}{% set cssmClass="warning" %}
                {% else %}{% set cssmClass="success" %}
                {% endif %}
                <td class="{{ cssmClass }} big">
                    <div class="progress">
                        <div class="progress-bar bg-{{ cssmClass }}" role="progressbar" aria-valuenow="{{ mcPerc }}" aria-valuemin="0"
                             aria-valuemax="100" style="width: {{ mcPerc }}%">
                            <span class="sr-only">{{ mcPerc }}% covered ({{ cssmClass }})</span>
                        </div>
                    </div>
                </td>
                <td class="{{ cssmClass }} small">
                    <div align="right">{{ mcPerc }}%</div>
                </td>
                <td class="{{ cssmClass }} small">
                    <div align="right">{{ file.getMethodCoveredCount }} / {{ file.getMethodCount }}</div>
                </td>
                <td class="{{ cssClass }} big">
                    <div class="progress">
                        <div class="progress-bar bg-{{ cssClass }}" role="progressbar" aria-valuenow="{{ fmPerc }}" aria-valuemin="0"
                             aria-valuemax="100" style="width: {{ fmPerc }}%">
                            <span class="sr-only">{{ fmPerc }}% covered ({{ cssClass }})</span>
                        </div>
                    </div>
                </td>
                <td class="{{ cssClass }} small">
                    <div align="right">{{ fmPerc }}%</div>
                </td>
                <td class="{{ cssClass }} small">
                    <div align="right">{{ file.getLineCoverageCount }}/{{ file.getLineCount }}</div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <footer>
        <hr/>
        <h4>Legend</h4>
        <p>
            <span class="danger"><strong>Low</strong>: 0% to 35%</span>
            <span class="warning"><strong>Medium</strong>: 35% to 70%</span>
            <span class="success"><strong>High</strong>: 70% to 100%</span>
        </p>
    </footer>
</div>
</body>
</html>
